In [3]:
### Assignment 1: Creating and Accessing Tuples

#Create a tuple with the first 10 positive integers. Print the tuple.
tpl_int = tuple(range(1,11))
print(tpl_int)

(1, 2, 3, 4, 5, 6, 7, 8, 9, 10)

In [14]:

### Assignment 2: Accessing Tuple Elements

#Print the first, middle, and last elements of the tuple created in Assignment 1.
print(f"Middle:  {tpl_int[len(tpl_int) // 2]}")
print(f"First : {tpl_int[0]}")
print(f"Lase: {tpl_int[-1]}")

Middle:  6
First : 1
Lase: 10

In [18]:

### Assignment 3: Tuple Slicing

#Print the first three elements, the last three elements, and the elements from index 2 to 5 of the tuple created in Assignment 1.
print(f"First three elements: {tpl_int[:3]}")
print(f"Last three elements: {tpl_int[-3:]}")
print(f"Elements from index 2 to 5: {tpl_int[2:6]} ")

First three elements: (1, 2, 3)
Last three elements: (8, 9, 10)
Elements from index 2 to 5: (3, 4, 5, 6)

In [4]:

### Assignment 4: Nested Tuples

#Create a nested tuple representing a 3x3 matrix and print the matrix. Access and print the element at the second row and third column.
nstd_tuple = (
  (1,2,3),
  (4,5,6),
  (7,8,9),
)
print(nstd_tuple)
print("Matrix: ")
for row in nstd_tuple:
  print(row)
print(f"Element at the second row and third column: {nstd_tuple[1][2]}")

((1, 2, 3), (4, 5, 6), (7, 8, 9))
Matrix:
(1, 2, 3)
(4, 5, 6)
(7, 8, 9)
Element at the second row and third column: 6

In [5]:
### Assignment 5: Tuple Concatenation

#Concatenate two tuples: (1, 2, 3) and (4, 5, 6). Print the resulting tuple.
tple1 = (2,2,3,0)
tple2 = (3,1,4,2)
concatened = tple1 + tple2
print(f"Concatenated Tuple: {concatened}")

Concatenated Tuple: (2, 2, 3, 0, 3, 1, 4, 2)

In [8]:
### Assignment 6: Tuple Methods

#Create a tuple with duplicate elements and count the occurrences of an element. Find the index of the first occurrence of an element in the tuple.
tpl = (2,2,3,0,3,1,4,2)
print(f"Duplicates of 3 {tpl.count(3)}")
print(f"Index Nnumber of 2: {tpl.index(4)}")

Duplicates of 3 2
Index Nnumber of 2: 6

In [10]:

### Assignment 7: Unpacking Tuples

#Create a tuple with 5 elements and unpack it into 5 variables. Print the variables.
u_tpl = (1,2,3,4,5)
a,b,c,d,e = u_tpl
print(e)

5

In [14]:

### Assignment 8: Tuple Conversion

#Convert a list of the first 5 positive integers to a tuple. Print the tuple.
lst = [1,2,3,5,7,9]
tiple_lst = tuple(lst)
print(tiple_lst)

(1, 2, 3, 5, 7, 9)

In [16]:

### Assignment 9: Tuple of Tuples

#Create a tuple containing 3 tuples, each with 3 elements. Print the tuple of tuples.
tpl_tple = (
  (1,2,3),
  (9,8,7),
  (5,6,4),
)
print(tpl_tple)

((1, 2, 3), (9, 8, 7), (5, 6, 4))

In [20]:
### Assignment 10: Tuple and List

#Create a tuple with the first 5 positive integers. Convert it to a list, append the number 6, and convert it back to a tuple. Print the resulting tuple.
tuple_p = (1,2,3,4,5)
tpl_lst = list(tuple_p)
tpl_lst.append(6)
tuple_p = tuple(tpl_lst)
print(tuple_p)

(1, 2, 3, 4, 5, 6)

In [23]:

### Assignment 11: Tuple and String

#Create a tuple with the characters of a string. Join the tuple elements into a single string. Print the string.
tpl = ('h', 'i', 'j')
joined_tpl = ''.join(tpl)
print(joined_tpl)

hij

In [25]:
### Assignment 12: Tuple and Dictionary

#Create a dictionary with tuple keys and integer values. Print the dictionary.
tpl_dict = {
(1,2) : 3,
(4,5) : 6,
(7,8) : 9,
}
print(tpl_dict)

{(1, 2): 3, (4, 5): 6, (7, 8): 9}

In [27]:
### Assignment 13: Nested Tuple Iteration

#Create a nested tuple and iterate over the elements, printing each element.
n_t = (
  (1,2,3),
  (2,3,4),
  (5,5,6),
)
for row in n_t:
  for el in row:
    print(el)

1
2
3
2
3
4
5
5
6

In [28]:
### Assignment 14: Tuple and Set

#Create a tuple with duplicate elements. Convert it to a set to remove duplicates and print the resulting set.
dpl_tpl = (2,2,3,0,1,4,2)
unique_set = set(dpl_tpl)
print(unique_set)

{0, 1, 2, 3, 4}

In [29]:
### Assignment 15: Tuple Functions

#Write functions that take a tuple and return the minimum, maximum, and sum of the elements. Print the results for a sample tuple.
def min_tpl(tpl):
  return min(tpl)
def max_tpl(tpl):
  return max(tpl)
def sum_tpl(tpl):
  return sum(tpl)

smple_tpl = dpl_tpl
print(f"Minimum value: {min_tpl(smple_tpl)}")
print(f"Maximum value: {max_tpl(smple_tpl)}")
print(f"Summetion: {sum_tpl(smple_tpl)}")

Minimum value: 0
Maximum value: 4
Summetion: 14