In [2]:
#Syntex
def function_name(parameters):
  """Docstring for the function."""
  # Function body
  return "Function executed successfully"

In [4]:
#Why Fucntions?
num = 24
if num %2 == 0:
  print("The number is even")
else:
  print("Not!")

The number is even

In [6]:
def even_odd (number):
  """This performs finding even or odd"""
  if number%2 == 0:
    print("The number is even")
  else:
    print("The number is odd")

In [9]:
##Calling this fuction
even_odd(78)

The number is even

In [11]:
#Function with multiple parameters
def add(a,b):
  return a+b
result = add(2,4)
print(result)

6

In [16]:
#Default Parameters
def greet(name="Geust"):
  print((f"Hello {name} Welcome To the paradise"))

greet("Hijbullah")

Hello Hijbullah Welcome To the paradise

In [21]:
### Variable Length Arguments
## Positional arguments
def print_numbers(*args):
  for numb in args:
    print(numb)

In [22]:
print_numbers("taher", 3,4,5, "Hijbullah")

taher
3
4
5
Hijbullah

In [23]:
#Keywords Arguments
def print_details(**kwargs):
  for key, value in kwargs.items():
    print(f"{key}:{value}")

In [26]:
print_details(name = "Hijbullah", age = 22 , Country = "Bangladesh" )

name:Hijbullah
age:22
Country:Bangladesh

In [27]:
def print_details(*args, **kwargs):
  for val in args:
    print(f"Positional argument : {val}")
  for key, value in kwargs.items():
    print(f"{key}:{value}")

In [28]:
print_details(1,2,3,4,"Hijbullah", name = "Hijbullah", age = 22 , Country = "Bangladesh")

Positional argument : 1
Positional argument : 2
Positional argument : 3
Positional argument : 4
Positional argument : Hijbullah
name:Hijbullah
age:22
Country:Bangladesh

In [29]:
### Return statements
def multiply(a,b):
  return a*b

multiply(2,6)

12

In [30]:
### Return multiple parameters
def multiply(a,b):
  return a*b,a
multiply(2,3)

(6, 2)