In [ ]:
a=100

In [6]:
age=25
height = 5.7
name = "Hijbullah"
is_student = True

#printing the variables

print("age: ", age)
print("height: ", height )
print("name: ", name)

age:  25
height:  5.7
name:  Hijbullah

In [8]:
## Naming Conventions
## Variable names should be descriptive
## They must start with a letter or an '_' and contains letter,numbers and underscores
## variables names case sensitive

#valid variable names

first_name = "Taher Bin Omar"
last_name = "Hijbullah"

In [10]:
# Invalid variable names
#2age=30
#first-name="Krish"
##@name="Krish"

In [12]:
#case sesitivity
name = "Hijbullah"
Name = "Taher Bin Omar"

In [15]:
#Understanding the type of variables
## Python is dynamically typed,type of a variable is determined at runtime
age = 25 #integer
height = 5.7 #float
name = "Hijbullah" #string
is_student = True #boolean

print("Type of age: ", type(age))
print("Type of height: ", type(height))
print("Type of name: ", type(name))
print("Type of is_student: ", type(is_student))

Type of age:  <class 'int'>
Type of height:  <class 'float'>
Type of name:  <class 'str'>
Type of is_student:  <class 'bool'>

In [17]:
### Type Checking and Conversion
type(age)

int

In [18]:
age= 25
print(type(age))

# Converting between types
age_str = str(age)  # Convert integer to string
print("Age as string: ", age_str  )
print("Type of age_str: ", type(age_str))

<class 'int'>
Age as string:  25
Type of age_str:  <class 'str'>

In [21]:
int(age) # Convert string to integer
print(type(age))

<class 'int'>

In [23]:
name = "Hijbullah"
int(name)  # This will raise an error because name is a string and cannot be converted to an integer

ValueError: invalid literal for int() with base 10: 'Hijbullah'

In [26]:
height = 5.7
print(type(height))  # This will return <class 'float'>
# Converting float to integer
height_int = int(height)  # This will truncate the decimal part
print("Height as integer: ", height_int)
print("Type of height_int: ", type(height_int))
# Converting integer to float
height_float = float(height_int)  # This will convert the integer back to float
print("Height as float: ", height_float)

<class 'float'>
Height as integer:  5
Type of height_int:  <class 'int'>
Height as float:  5.0

In [31]:
#Dynamic Typing
## Python allows the type of a vraible to change as the program executes
var = 10
print(var, type(var))

var = "Hello"
print(var, type(var))

var = 3.14
print(var, type(var))

10 <class 'int'>
Hello <class 'str'>
3.14 <class 'float'>

In [ ]:
#Input
age=int(input("What is the age"))
print(age,type(age))

ValueError: invalid literal for int() with base 10: ''